<!DOCTYPE HTML>
<html>
<head lang="en">
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakebook</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/bootstrap.js"></script>

</head>
<body style="background-color:#ffbf00">
<h1 style="color:green; font-weight:strong"> Fakebook </h1>
<div class="Iskalnik"> Iskalnik <input type="text" placeholder="isci po imenu...">
</div>
<br>
<h1 id="Ime">
Spela Zoran
</h1>
<img src="https://i.pinimg.com/originals/0f/38/9f/0f389f2ac4471a82177aab326e7cfd3d.png" height="160" width="160">
<br>
<br>
<button type="button">Dodaj za prijatelja!</button>
<br>
<div class="okence">
  <p>PODATKI:</p>
    <li class="okence"> Iz kraja:Novo mesto </li>
    <li class="okence"> Zivim v: Ljubljana </li>
    <li class="okence"> Starost:29 </li>
    <li class="okence"> Izobrazba:Bodoca Dipl.Ninja </li>
</div>
</body>
</html>
